<!DOCTYPE html>
<html lang="en">

<head>
    <title>Letras</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="/style/css/lacunas.css">
    <script src="/script/lacunaScript/indexLacuna.js"></script>

</head>