<%- include ('./partials/header.ejs') %>

    <body>
        <div class="header-menu">
            <a href="/quiz/home/<%= ident %> " class="float-right"><button class="btn btn-success">Voltar</button></a>
        </div>
        <input id="quantidadeQuiz" type="number">
        <button id="enviarNumero"></button>
        <form action="/quiz/resposta/<%= ident %>" method="POST" enctype="application/x-www-form-urlencoded">
            <div id="Container" class="container">
                <input type="hidden" name="number" id="value_model">
                <div class="titulo">
                    <h2>Titulo</h2>
                    <input type="text" name="titulo" titulo placeholder="titulo">
                </div>

                <div class="graus">
                    <label for="">Selecione o ano letivo:</label>
                    <select name="serieNames" id="serie-names">
                        <option value="1">1ª Série</option>
                        <option value="2">2ª Série</option>
                        <option value="3">3ª Série</option>
                        <option value="4">4ª Série</option>
                    </select>
                </div>
            </div>
                <button class="btn btn-success">Salvar</button>
        </form>
    </body>
    <script type="text/javascript" src="/script/quiz/geradorQuiz.js"></script>
    <%- include ('./partials/footer.ejs') %>